<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
        >
        
        <!-- 组件扫描 -->
        <context:component-scan base-package="com.test.controller"/>
        
        <!-- 注解驱动 -->
        <mvc:annotation-driven/>
        
        <!-- 映射静态资源 -->
		<mvc:resources mapping="/resources/**" location="/resources/" />
		<!--  
		<mvc:resources mapping="/resources/upload/**" location="/resources/upload/" />
        -->
        <!-- 内部资源视图解析器 -->
        <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        	<!-- 引入jstl标签库所使用，帮助文档建议加上，不加应该也可以 -->
        	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        	<!-- 前缀 -->
        	<property name="prefix" value="/WEB-INF/jsp/"/>
        	<!-- 后缀 -->
        	<property name="suffix" value=".jsp"/>
        </bean>
        
        <!-- 全局异常配置 -->
        <bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        	<!-- 注入Properties -->
        	<property name="exceptionMappings">
        		<props>
        			<!-- error是jsp页面 -->
        			<prop key="com.test.exception.UserException">error</prop>
        		</props>
        	</property>
        </bean>
        
        <!-- 文件上传解析器 ,id必须是multipartResolver-->
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<!-- 设置最大上传5M -->
			<property name="maxUploadSize" value="5000000" />
		</bean>

</beans>
